<header id="header">
    <div id="header-outer" class="outer">
        <div id="header-inner" class="inner">
            <div class="logo-display">
                <a class="logo" href="{{ .Site.Home.Permalink }}"></a>
                <a class="logo-text" href="{{ .Site.Home.Permalink }}">Engineering</a>
            </div>
            <div class="icons-display">
                <a href="//github.com/plexsystems">
                    <img class="github-img" src="/images/github.png" alt="github" />
                </a>
            </div>
        </div>
</header>