<header id="header">
    <div id="header-outer" class="outer">
        <div id="header-inner" class="inner">
            <span class="logo-display">
                <a id="logo" class="logo"></a>
                <a class="logo-text" href="{{ .Site.Home.Permalink }}">Engineering Blog</a>
                <nav id="main-nav">
                    {{ range .Site.Menus.main }}
                    <a class="main-nav-link" href="{{ .URL }}">{{ .Name }}</a>
                    {{ end }}
                </nav>
            </span>
        </div>
    </div>
</header>