@font-face {
    font-family: 'helveticaneuebold';
    src: url('fonts/helvetica_neu_bold-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helveticaneueblackcond';
    src: url('fonts/helveticaneue_blackcond-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helveticaneuelight';
    src: url('fonts/helveticaneue_light-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helveticaneuemedium';
    src: url('fonts/helveticaneue_medium-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue Thin';
    src: url('fonts/helveticaneue_thin-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helveticaneueregular';
    src: url('fonts/helveticaneue-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helveticaneuebold';
    src: url('fonts/helveticaneuebd-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helveticaneueheavy';
    src: url('fonts/helveticaneuehv-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helveticaneueitalic';
    src: url('fonts/helveticaneueit-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helveticaneuelight';
    src: url('fonts/helveticaneuelt-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helveticaneuemedium';
    src: url('fonts/helveticaneuemed-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}